.header {
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  width: 100%;
  z-index: 2;
  background: transparent;
}

.social-icons a {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #0077b5;
}
