.nav-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.search-bar {
  position: relative;
  width: 100%;
  margin: 0 auto 2rem auto;
  border-radius: 999px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  padding: 23px;
  border-radius: 999px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  margin: 0px 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
}

.search-bar input::placeholder {
  color: white;
}

.search-bar input:hover {
  border: 1px solid;
  backdrop-filter: blur(10px);
  border-color: rgba(255, 255, 255, 0.3);
  transition: border-color 2s ease;
}

.search-bar button {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  padding: 11px 13px;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.menu-button{
  text-decoration: none; 
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 0px;
  border-radius: 1rem;
  text-align: center;
  width: 120px;
  cursor: pointer;
}

.menu-button:hover {
  border: 1px solid;
  backdrop-filter: blur(10px);
  border-color: rgba(255, 255, 255, 0.5);
  transition: border-color 4s ease;
}

.icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: 500;
  color: white;
}
